body {
  margin: 0;
  padding: 0;
  background-color: #93b6bf; /* Change this to the desired background color */
}


.my-button {
  background-color: #055366;
  color: white;
  border-radius: 20px;
  padding: 10px 20px; /* Add padding here */
  position: absolute;
  top: 30px;
  right: 30px;
  transition: transform 0.3s ease;
}

.my-button:hover {
  transform: scale(1.1); /* Increase button size on hover */
}

.my-app {
  padding-left: 20px; /* Add padding from the left */
  padding-top: 15px;
  
}

.my-app h1 {
  color: #055366; /* Set font color as dark blue */
}
.container {
  background-color: #5c818a;
  border-radius: 20px;
  width: 450px;
  height: 300px;
  position: fixed;
  top: 40%;
  right: 30px;
  text-align: center;
  transform: translateY(-50%);
}
.container h3 {
  color: white;
}
.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px; /* Adjust as needed for spacing between label and input */
}
.form-group input[type="text"] {
  width: 500px;
}

