.page-container-CreatAcc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/faculty.jpg');
    background-size: 100% 100%;
    display: flex;
    height: 100vh;
  }
  
  .form-container-creatAcc {
    width: 500px;
    height: flex;
    padding: 20px;
    border-radius: 10px;
    background-color: #328f8a;
  }
  .form-container-creatAcc h1,.form-container-creatAcc h3{
    text-align: center;
    color: white;
  }
  .Button{
    align-items: center;
  }
  
  .form-group-creatAcc {
    margin-bottom: 10px;
  }
  
  .label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* White text color for labels */
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc; /* Light gray border */
  }
  
  .input:focus {
    outline: none;
    border-color: #007bff; /* Blue border color on focus */
  }
  
  .error-message-creatAcc {
    color: #dc3545; /* Red color for error message */
    margin-top: 10px;
  }
  
  .form-container-creatAcc already-registered {
    display: flex; 
    align-items: center; 
}
.form-container-creatAcc Button{
  align-items: center; 
}