.bbb {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.my-app {
  margin: 0;
  padding: 0;
  background-color: #93b6bf;
  display: flex;
  height: 100vh;
  overflow: auto;
}

.booking-body {
  display: flex;
  width: 100%;
  overflow: auto;
  
}

.left,
.right {
  flex: 1;
  width: 50%; /* Ensure both sides are equal width */
  padding: 20px;
}
.right {
  margin-bottom: 100px;
}

.left h1 {
  color: #055366;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input[type="text"] {
  width: 100%;
}

.green-rectangle,
.red-rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 30px;
  border-radius: 20px;
  width: 70%;
  height: 70%;
}

.green-rectangle {
  background-color: #4cd40d;
  display: flex;
  flex-direction: column;
}

.red-rectangle {
  background-color: red;
  display: flex;
  flex-direction: column;
}

.inline-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.inline-container > * {
  margin-right: 10px;
}

.inline-container input[type="time"] {
  width: 90px;
}

.container-11 {
  background-color: #5c818a;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-11 h3 {
  color: white;
}

.Scheduling-button {
  position: absolute;
  top: 20%;
  right: 30px;
}

.scheduling-box {
  position: fixed;
  top: 30%;
  right: 20px;
  width: 100px;
  height: 80px;
  background-color: darkblue;
  color: white;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.button-container {
  margin: 20px;
  display: flex;
  justify-content: left;
  gap: 30px;
}

.scheduling,
.check-button {
  background-color: #1a4350;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 400;
  color: white;
  border: 2px solid white;
  border-radius: 20px;
  padding: 8px 16px;
  cursor: pointer;
}

.scheduling:hover,
.check-button:hover {
  background-color: white;
  color: black;
  border: 1px solid white;
}




@media screen and (max-width: 637px) {

  .bbb{
    width: 100%;
  }

.container-11 h3{
  font-size: 10px;
}
.inline-container {
  flex-direction: column;
  align-items: start;
}
.check-button{
  margin-top: 10px;
  margin-bottom: 10px;
}
.booking-body{
  flex-direction: column;
}
.availability-message{
  font-size: 10px;
}
.rectangleClass{
  font-size: 5px;
}
.left{
  flex-direction: column;
  align-items: start;
  width:100%;
}
.right{
  width:100%;
  align-items: center;
}

}