.main-page-container-forgot-password {
    display: flex;
    height: 100vh;
    position: relative;
    overflow: hidden; /* Ensure no overflow from combined widths */
  }
  
  .page-container-forgot-password {
    display: flex;
    align-items: center;
    height: 100vh;
    background-size: 100% 100%;
    justify-content: flex-end;
    background-color: #A6BBC1;
    width: 67%; /* Set width to 67% */
    position: absolute; /* Use absolute positioning */
    right: 0; /* Align to the right */
    z-index: 2; 
    flex: 1;
    clip-path: polygon(200px 100%, 100% 100%, 100% 0, 0 0);

  }
  
  .image-container-forgot-password {
    background-size: cover;
    background-position: center;
    width: 48%; /* Set width to 47% */
    height: 100%;
    position: absolute; /* Use absolute positioning */
    left: 0; /* Align to the left */
    z-index: 1;
  }
  
  .FacultyImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .oblique-line {
    position: absolute;
    width: 813.06px;
    height: 0;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-106.45deg);
    transform-origin: center;
    z-index: 3; 
  }
  
  .form-container-forgot-password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
    background-color: #638793;
    width: 100%;
    height: 525px;
    box-sizing: border-box;
    position: relative;
    z-index: 4; 
    flex: 1;
    clip-path: polygon(100px 100%, 100% 100%, 100% 0, 0 0);
  
  }
  
  .form{
    margin-right: 100px;
  }
  .form-container-forgot-password h1 {
    text-align: center;
    color: white;
    margin-bottom: 40px;
  }
  
  .form-group-forgot-password {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 5px;
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .input {
    width: 496px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #1D4C5A;
    font-weight: 400;
  }


.input-with-button {
  width: 100%; /* Ensure input field takes full width */
  padding: 8px;
  border-radius: 5px 5px 5px 5px; /* Rounded corners on left side */
  border: 1px solid #ccc;
  color: #1D4C5A;
  font-weight: 400;
  box-sizing: border-box;
  margin: 5px;
}


.input-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start */
  width: 100%; /* Ensure wrapper takes full width */
}

.input:focus,
.get-code-button:focus {
  outline: none;
}
  .buttonStyle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .forgot-password {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .input:focus {
    outline: none;
    border-color: #007bff;
  }
  

  /* Media queries for responsiveness */
@media screen and (max-width: 1024px) {
  .page-container-forgot-password {
    width: 100%;
    clip-path: none;
    padding: 20px;
  }

  .image-container-forgot-password {
    width: 50%;
  }

  .form-container-forgot-password {
    width: 90%;
    padding: 20px;
    clip-path: none;
  }

  .FacultyImage {
    object-fit: cover;
  }

  .oblique-line {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .page-container-forgot-password {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
  }

  .image-container-forgot-password {
    width: 100%;
    height: 50%;
    position: relative;
  }

  .form-container-forgot-password {
    width: 90%;
    padding: 20px;
    clip-path: none;
  }

  .FacultyImage {
    height: 100%;
    position: relative;
  }
  .oblique-line {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .page-container-forgot-password {
    flex-direction: column;
    width: 100%;
    padding: 10px;
  }

  .image-container-forgot-password {
    width: 100%;
    height: 50%;
    position: relative;
  }

  .form-container-forgot-password {
    width: 100%;
    padding: 10px;
    clip-path: none;
  }

  .FacultyImage {
    height: 100%;
    position: relative;
  }

  .input {
    width: 100%;
  }
  .oblique-line {
    display: none;
  }
}


 