
/* header.css */
.userIcon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  mix-blend-mode: darken;
}
.navbar-green .navbar-brand div h3 {
  font-weight: 700;
  color: #205464;
  text-shadow: '0px 4px 4px rgba(0, 0, 0, 0.25)'

 
}

.navbar-green .navbar-brand div p {
  font-weight: 400;
  color: #205464;
  line-height: 24px;
  font-size: 18px;


}

.userIcon:hover img,
.userIcon.active img,
.userIcon.active-page img {
  transform: scale(1.1);
  opacity: 0.3;
}

.notificationIcon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  mix-blend-mode: darken;
}

.notificationIcon:hover,
.notificationIcon.active-page {
  transform: scale(1.1);
  opacity: 0.3;
}

.navbar-green {
  background-color: #A6BBC1;
  color: white;
  width: 100%;
}



.buttons-container {
  display: flex;
  align-items: flex-end;
}

.buttons-container > * {
  margin-right: 20px;
}

@media screen and (max-width: 1080px) {
  .d-flex{
    justify-content: center;
  }
  .navbar-green .navbar-brand div h3 {
    font-size: 25px;
    white-space: wrap;
  }

  .navbar-green .navbar-brand div p {
    font-size: 11px;
    white-space: wrap;
  }
  .navbar-brand {
    width: 100%;
    text-align: center;
  }

  .navbar-collapse {
    width: 100%;
  }



  .buttons-container > * {
    width: 100%;
    text-align: center;
    margin-bottom: 10px; 
  }
  .buttons-container {
    display: flex;
    align-items: start;
   
  }

  .userIcon,
  .notificationIcon {
    width: 100%;
    text-align: center;
  }

  .userIcon img,
  .notificationIcon {
    width: 20px;
    height: 20px;
  }
}
@media screen and (max-width: 530px) {
  .d-flex{
    margin-top: 45px;

  }
  .navbar-green .navbar-brand div h3 {
    font-size: 20px;
    white-space: wrap;
  }

  .navbar-green .navbar-brand div p {
    font-size: 8px;
    white-space: wrap;
  }
  .buttons-container{
    display: flex;
    flex-direction: column;

  }




}