.hhh {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}
.hhh > div {
  flex: 1;
  overflow-y: auto;
}

.home {
  position: relative;
  background-image: url('../images/home.jpg');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  flex-direction: column;
}

.home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  z-index: 1;
  pointer-events: none;
  height: 150vh
}

.text-home {
  position: relative;
  z-index: 2;
  color: white;
  font-family: 'Roboto Slab', serif;
  text-align: start;
  font-weight: 600;
  line-height: 88px;
  padding: 20px;
  animation: text-flicker 3s infinite;
}

.text-home h1 {
  margin: 0;
  font-size: 7em;
  font-weight: bold;
  color: #1A4350
}

.text-home h3 {
  font-size: 3.5em;
  font-weight: bold;
  color: #1A4350
}

.text-home p {
  font-size: 2.5em;
  line-height: 1.5em;
  color: #1A4350
}

.button-row {
  display: flex;
  margin-top: 20px;
}

.button-row > * {
  margin-right: 10px;
}

.button-row > *:last-child {
  margin-right: 0;
}

button {
  border-radius: 0;
  width: 150px; /* Increased button width */
  padding: 15px; /* Increased button padding */
  font-size: 1.2em; /* Increased font size */
  color: white;
  background-color: #1A4350;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  perspective: 1000px;
  position: relative;
  overflow: hidden;
}


button:hover {
  background-color: #16334a;
  transform: scale(1.05) rotateY(20deg) rotateX(10deg);
}

button::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: transform 0.5s, opacity 0.5s;
}

button:active::after {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: 0s;
}

@keyframes text-flicker {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.icon-button .icon {
  transition: transform 0.3s ease;
}

.icon-button:hover .icon {
  transform: rotate(360deg);
}
@media screen and (max-width: 1200px) {
  .home {

    padding: 30px;
  }
  .text-home h1 {
    margin: 0;
    font-size: 4em;
 
  }
  
  .text-home h3 {
    font-size: 1.5em;
    
  }
  
  .text-home p {
    font-size: 2.5em;
    line-height: 1.0em;
   
  }
}

@media screen and (max-width: 960px) {
  .home {
    padding: 30px;
  }
  .text-home h1 {
    margin: 0;
    font-size: 3em;
 
  }
  
  .text-home h3 {
    font-size: 1.0em;
    
  }
  
  .text-home p {
    font-size: 2.0em;
    line-height: 1.0em;
   
  }
  


}

@media screen and (max-width: 480px) {
  .hhh{
    overflow: auto;
  }
  .home {
    padding-top: 300px;
  }
  .text-home h1 {
    margin: 0;
    font-size: 2.5em;
 
  }
  
  .text-home h3 {
    font-size: 0.5em;
    
  }
  
  .text-home p {
    font-size: 1.5em;
    line-height: 0.8em;
   
  }



}



